<p>
  postapi Service works!
</p>
<br>
Title:&emsp;<input type="text" #title placeholder="Enter the Title">
<br>
<button (click)="AddPost(title)">Add Post</button>
<br> <br>


<table border="1px">

  <thead>
    <th>#</th>
    <th>Action</th>
   <th>Title</th>
    <th>Description</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of posts">
      <td>{{item.id}} </td>
      <td><button (click)="UpdateData(item)">Update</button>
      <button (click)="DeleteData(item)">Delete</button>
      </td>
      <td>{{item.title}} </td>
      <td>{{item.body}} </td>
    </tr>

  </tbody>

</table>
