<p>
  pipe-builtin works!
</p>

<h1>{{str}}</h1>
<h1>{{str | lowercase}}</h1>
<h1>{{str | uppercase}}</h1>
<h1>{{str | titlecase}}</h1>
<h1>{{str | slice:2:5}}</h1>
<h1>{{str | slice:2}}</h1>
<h1>{{Emp | json}} </h1>

<h1>{{25.568 | number : '1.2-3' }} </h1>
<h1>{{25.568789 | number : '1.2-3' }} </h1>
<h1>{{25.5687 | number : '4.5-9' }} </h1>

<h1>{{0.85 | percent}} </h1>
<h1>{{0.085 | percent:'1.1'}} </h1>

<h1>{{0.25 | currency}} </h1>
<h1>{{25 | currency :'INR'}} </h1>

<h1>{{25 | currency :'INR':'code'}} </h1>

<h1>{{mydate | date }} </h1>
<h1>{{mydate | date : 'shortDate' }} </h1>
<h1>{{mydate | date : 'shortTime' }} </h1>

<h1>{{mydate | date : 'longDate' }} </h1>

<h1>{{mydate | date : 'longDate' | uppercase }} </h1>

<h1>{{mydate | date : 'mediumDate'}} </h1>

<h1>{{mydate1 | date }} </h1>





